# Subway Data Analysis

## Introduction

O sistema de ônibus e trens de Nova Iorque - o Metro Transit Authority - [fornece seus dados para download](http://web.mta.info/developers/developer-data-terms.html#data) através de  arquivos CSV. Dentre as informações disponíveis estão os **registros semanais de dados das catracas do metrô**. 


Estes registros contém contagens cumulativas das entradas e saídas, normalmente agrupadas em períodos de 4 horas, com dados adicionais que permitem identificar a estação e catraca específica correspondente a cada linha do arquivo. Neste projeto iremos utilizar um desses registros, mas não precisa baixar nada agora! O primeiro exercício será escrever um código Python para fazer isso por você :-)

# Sobre este projeto

Neste projeto você irá aplicar todos os conhecimentos adquiridos neste primeiro mês de curso, com tarefas básicas de aquisição e limpeza de dados. No processo iremos descobrir informações essenciais sobre os dados, utilizando o que foi aprendido no curso de estatí­stica. 

O objetivo deste projeto é explorar a relação entre os dados das catracas do metrô de Nova Iorque e o clima no dia da coleta. Para isso, além dos dados do metrô, precisaremos dos dados de clima da cidade de Nova Iorque. 

Os principais pontos que serão verificados neste trabalho:

- Coleta de dados da internet
- Utilização de estatí­stica para análise de dados
- Manipulação de dados e criação de gráficos simples com o `Pandas`

*Como conseguir ajuda*: Sugerimos que busque apoio nos canais abaixo, na seguinte ordem de prioridade:

| Tipo de dúvida\Canais         	| Google 	| Fórum 	| Slack 	| Email 	|
|-------------------------------	|--------	|-------	|-------	|-------	|
| Programação Python e Pandas    	| 1      	| 2     	| 3     	|       	|
| Requisitos do projeto         	|        	| 1     	| 2     	| 3     	|
| Partes especí­ficas do Projeto 	|        	| 1     	| 2     	| 3     	|

Os endereços dos canais são:

- Fórum: https://discussions.udacity.com/c/ndfdsi-project
- Slack: [udacity-br.slack.com](https://udacity-br.slack.com/messages/C5MT6E3E1)
- Email: data-suporte@udacity.com

**Espera-se que o estudante entregue este relatório com:**

- Todos os exercí­cios feitos, com atenção especial para os trechos de código a completar (sinalizados com `# your code here`), pois eles são essenciais para que o código rode corretamente
- O arquivo ipynb exportado como HTML

Para entregar este projeto envie este `.ipynb` preenchido e o HTML, zipados, na página correspondente da sala de aula.

# Sobre o dataset

Descrição das colunas
<pre>
C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
  
C/A      = Agrupamento de catracas de que a catraca faz parte (_Control Area_)
UNIT     = Cabine de controle associada à estação onde a catraca se encontra (_Remote Unit for a station_)
SCP      = Endereço específico da catraca (_Subunit Channel Position_)
STATION  = Nome da estação onde a catraca se encontra
LINENAME = Código representando todas linhas que passam na estação*
DIVISION = Código representando a concessionária original da linha, antes da prefeitura assumir a gestão   
DATE     = Representa a data (no formato MM-DD-YY) do evento de auditoria agendado
TIME     = Representa o horário (hh:mm:ss) do evento de auditoria agendado
DESc     = Descreve o tipo de evento de auditoria registrado:
           1. "REGULAR" representando um evento de auditoria padrão, em que a contagem é feita a cada 4 horas
           2. "RECOVR AUD" significa que o valor específico estava perdido, mas foi recuperado posteriormente 
           3. Diversos códigos sinalizam situações em que auditorias são mais frequentes devido a atividades de
              planejamento ou solução de problemas. 
ENTRIES  = A contagem cumulativa de entradas associadas à catraca desde o último registro
EXITS    = A contagem cumulativa de saídas associadas à catraca desde o último registro

*  Normalmente as linhas são representadas por um caractere. LINENAME 456NQR significa que os trens 4, 5, 6, N, Q e R passam pela estação.
</pre>

# Lembretes

Antes de começarmos, alguns lembretes devem ter em mente ao usar os notebooks iPython:

- Lembre-se de que você pode ver do lado esquerdo de uma célula de código quando foi executado pela última vez se houver um número dentro das chaves.
- Quando você inicia uma nova sessão do notebook, certifique-se de executar todas as células até o ponto em que você deixou a última vez. Mesmo que a saí­da ainda seja visí­vel a partir de quando você executou as células em sua sessão anterior, o kernel começa em um estado novo, então você precisará recarregar os dados, etc. em uma nova sessão.
- O ponto anterior é útil para ter em mente se suas respostas não correspondem ao que é esperado nos questionários da aula. Tente recarregar os dados e execute todas as etapas de processamento um a um para garantir que você esteja trabalhando com as mesmas variáveis e dados que estão em cada fase do questionário.

## Seção 1 - Coleta de Dados

### *Exercicio 1.1*

Mãos a obra!! Agora é sua vez de coletar os dados. Escreva abaixo um código python que acesse o link http://web.mta.info/developers/turnstile.html e baixe os arquivos do mês de junho de 2017. O arquivo deverá ser salvo com o nome turnstile_170610.txt onde 10/06/17 é a data do arquivo.

<blockquote>
    <p>Caso o site esteja fora do ar, use essa url:</p>
    <p>https://s3.amazonaws.com/video.udacity-data.com/topher/2018/November/5bf32290_turnstile/turnstile.html</p>
</blockquote>

Abaixo seguem alguns comandos que poderão te ajudar:

Utilize a biblioteca **urllib** para abrir e resgatar uma página da web. Utilize o comando abaixo onde **url** será o caminho da página da web onde se encontra o arquivo:

```python
u = urllib.urlopen(url)
html = u.read()
```

Utilize a biblioteca **BeautifulSoup** para procurar na página pelo link do arquivo que deseja baixar. Utilize o comando abaixo para criar o seu objeto *soup* e procurar por todas as tags 'a'no documento:
 
 
```python
soup = BeautifulSoup(html, "html.parser")
links = soup.find_all('a')
```

Uma dica para baixar apenas os arquivos do mês de junho é verificar a data no nome do arquivo. Por exemplo, para baixar o arquivo do dia 17/06/2017 verifique se o link termina com *"turnstile_170610.txt"*. Se não fizer isso você baixará todos os arquivos da página. Para fazer isso utilize o comando conforme abaixo:

```python
if '1706' in link.get('href'):
```

E a dica final é utilizar o comando abaixo para fazer o download do arquivo txt:

```python
urllib.urlretrieve(link_do_arquivo, filename)
```

Lembre-se, primeiro, carregue todos os pacotes e funções que você estará usando em sua análise.

In [1]:
import urllib
from bs4 import BeautifulSoup
import uuid

filenames = []

u = urllib.request.urlopen('https://s3.amazonaws.com/video.udacity-data.com/topher/2018/November/5bf32290_turnstile/turnstile.html')
html = u.read()

soup = BeautifulSoup(html, "html.parser")
links = soup.find_all('a')

for link in links:
    if '1706' in str(link.get('href')):
        filename = str(uuid.uuid4()) + '.txt'
        urllib.request.urlretrieve(link.get('href'), filename)
        filenames.append(filename)

### *Exercicio 1.2*

Escreva uma função que pegue a lista de nomes dos arquivos que você baixou no exercicio 1.1 e consolide-os em um único arquivo. Deve existir apenas uma linha de cabeçalho no arquivo de saida. 

Por exemplo, se o arquivo_1 tiver:
linha 1...
linha 2...

e o outro arquivo, arquivo_2 tiver:
linha 3...
linha 4...
linha 5...

Devemos combinar o arquivo_1 com arquivo_2 em um arquivo mestre conforme abaixo:

'C/A, UNIT, SCP, DATEn, TIMEn, DESCn, ENTRIESn, EXITSn'
linha 1...
linha 2...
linha 3...
linha 4...
linha 5...

**OBS:** Note que algumas colunas foram descartadas!

In [2]:
import csv

def create_master_turnstile_file(filenames, output_file):
    with open(output_file, 'w') as master_file:
        master_file.write('C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn\n')
        for filename in filenames:
            with open(filename, 'r') as csvfile:
                file_reader = csv.reader(csvfile, delimiter=',', quotechar='|', skipinitialspace=True)
                next(file_reader)
                for row in file_reader:
                    master_file.write(row[0]+','+row[1]+','+row[2]+','+row[6]+','+row[7]+','+row[8]+','+row[9]+','+row[10]+'\n')
                    
create_master_turnstile_file(filenames, 'master_file.txt')

### *Exercicio 1.3*

Neste exercí­cio, escreva um função que leia o master_file criado no exercicio anterior e carregue-o em um pandas dataframe. Esta função deve filtrar para que o dataframe possua apenas linhas onde a coluna "DESCn" possua o valor "Regular".

Por exemplo, se o data frame do pandas estiver conforme abaixo:
    
    ,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn
    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    1,A002,R051,02-00-00,05-01-11,04:00:00,DOOR,3144335,1088159
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177
    3,A002,R051,02-00-00,05-01-11,12:00:00,DOOR,3144424,1088231

O dataframe deverá ficar conforme abaixo depois de filtrar apenas as linhas onde a coluna DESCn possua o valor REGULAR:

    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177

In [3]:
import pandas

def filter_by_regular(filename):
    turnstile_data = pandas.read_csv(filename)
    turnstile_data = turnstile_data[turnstile_data['DESCn'] == 'REGULAR']
    return turnstile_data

turnstile_data = filter_by_regular('master_file.txt')
turnstile_data.head()

    C/A  UNIT       SCP       DATEn     TIMEn    DESCn  ENTRIESn   EXITSn
0  A002  R051  02-00-00  06/17/2017  00:00:00  REGULAR   6224816  2107317
1  A002  R051  02-00-00  06/17/2017  04:00:00  REGULAR   6224850  2107322
2  A002  R051  02-00-00  06/17/2017  08:00:00  REGULAR   6224885  2107352
3  A002  R051  02-00-00  06/17/2017  12:00:00  REGULAR   6225005  2107452
4  A002  R051  02-00-00  06/17/2017  16:00:00  REGULAR   6225248  2107513

### *Exercicio 1.4*


Os dados do metrô de NY possui dados cumulativos de entradas e saidas por linha. Assuma que você possui um dataframe chamado df que contém apenas linhas para uma catraca em particular (unico SCP, C/A, e UNIT). A função abaixo deve alterar essas entradas cumulativas para a contagem de entradas desde a última leitura (entradas desde a última linha do dataframe).

Mais especificamente, você deverá fazer duas coisas:

1. Criar uma nova coluna chamada ENTRIESn_hourly

2. Inserir nessa coluna a diferença entre ENTRIESn da linha atual e a da linha anterior. Se a linha possuir alguma NAN, preencha/substitua por 1.

Dica: as funções do pandas shift() e fillna() pode ser úteis nesse exercicio.

Abaixo tem um exemplo de como seu dataframe deve ficar ao final desse exercicio:

           C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn    EXITSn  ENTRIESn_hourly
    0     A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312   1088151                1
    1     A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335   1088159               23
    2     A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353   1088177               18
    3     A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424   1088231               71
    4     A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594   1088275              170
    5     A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808   1088317              214
    6     A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895   1088328               87
    7     A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905   1088331               10
    8     A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941   1088420               36
    9     A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094   1088753              153
    10    A002  R051  02-00-00  05-02-11  16:00:00  REGULAR   3145337   1088823              243

In [5]:
import pandas

def get_hourly_entries(df):
    entries_difference =  df
    entries_difference['ENTRIESn_hourly'] = (df['ENTRIESn'] - df.shift(1)['ENTRIESn']).fillna(1)    
    return df

turnstile_data_entries_hourly = get_hourly_entries(turnstile_data)
turnstile_data_entries_hourly.head()

,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn,ENTRIESn_hourly
0,A002,R051,02-00-00,06/17/2017,00:00:00,REGULAR,6224816,2107317,1.0
1,A002,R051,02-00-00,06/17/2017,04:00:00,REGULAR,6224850,2107322,34.0
2,A002,R051,02-00-00,06/17/2017,08:00:00,REGULAR,6224885,2107352,35.0
3,A002,R051,02-00-00,06/17/2017,12:00:00,REGULAR,6225005,2107452,120.0
4,A002,R051,02-00-00,06/17/2017,16:00:00,REGULAR,6225248,2107513,243.0

### *Exercicio 1.5*

Faça o mesmo do exercicio anterior mas agora considerando as saidas, coluna EXITSn.
Para isso crie uma coluna chamada de EXITSn_hourly e insira a diferença entre a coluna EXITSn da linha atual versus a linha anterior. Se tiver algum NaN, preencha/substitua por 0.

In [6]:
import pandas

def get_hourly_exits(df):
    exits_difference =  df
    exits_difference['EXITSn_hourly'] = (df['EXITSn'] - df.shift(1)['EXITSn']).fillna(0)    
    return df

turnstile_data_exits_hourly = get_hourly_exits(turnstile_data_entries_hourly)
turnstile_data_exits_hourly.head()

,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly
0,A002,R051,02-00-00,06/17/2017,00:00:00,REGULAR,6224816,2107317,1.0,0.0
1,A002,R051,02-00-00,06/17/2017,04:00:00,REGULAR,6224850,2107322,34.0,5.0
2,A002,R051,02-00-00,06/17/2017,08:00:00,REGULAR,6224885,2107352,35.0,30.0
3,A002,R051,02-00-00,06/17/2017,12:00:00,REGULAR,6225005,2107452,120.0,100.0
4,A002,R051,02-00-00,06/17/2017,16:00:00,REGULAR,6225248,2107513,243.0,61.0

### *Exercicio 1.6*

Dado uma variável de entrada que representa o tempo no formato de:
Â Â Â Â  "00:00:00" (hora: minutos: segundos)
Â Â Â Â 
Escreva uma função para extrair a parte da hora do tempo variável de entrada
E devolva-o como um número inteiro. Por exemplo:
Â Â Â Â Â Â Â Â  
         1) se a hora for 00, seu código deve retornar 0
Â Â Â Â Â Â Â Â  2) se a hora for 01, seu código deve retornar 1
Â Â Â Â Â Â Â Â  3) se a hora for 21, seu código deve retornar 21
Â Â Â Â Â Â Â Â 
Por favor, devolva a hora como um número inteiro.

In [12]:
def time_to_hour(time):
    hour = int(str(time).split(':')[0])
    return hour

display(time_to_hour('00:00:00'))
display(time_to_hour('12:05:42'))
display(time_to_hour('23:24:55'))

0

12

23

## Exercicio 2 - Análise dos dados

### *Exercicio 2.1*

Para verificar a relação entre o movimento do metrô e o clima, precisaremos complementar os dados do arquivo já baixado com os dados do clima.
Nós complementamos para você este arquivo com os dados de clima de Nova Iorque  e disponibilizamos na área de materiais do projeto. Você pode acessa-lo pelo link: https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/turnstile_data_master_with_weather.csv

Agora que temos nossos dados em um arquivo csv, escreva um código python que leia este arquivo e salve-o em um data frame do pandas. 

Dica: 

Utilize o comando abaixo para ler o arquivo:

```python
pd.read_csv('output_list.txt', sep=",")
```

In [1]:
import pandas as pd

filename = "turnstile_data_master_with_weather.csv"
turnstile_weather = pd.read_csv(filename)
turnstile_weather.head()

,Unnamed: 0,UNIT,DATEn,TIMEn,Hour,DESCn,ENTRIESn_hourly,EXITSn_hourly,maxpressurei,maxdewpti,...,meandewpti,meanpressurei,fog,rain,meanwindspdi,mintempi,meantempi,maxtempi,precipi,thunder
0,0,R001,2011-05-01,01:00:00,1,REGULAR,0.0,0.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
1,1,R001,2011-05-01,05:00:00,5,REGULAR,217.0,553.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
2,2,R001,2011-05-01,09:00:00,9,REGULAR,890.0,1262.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
3,3,R001,2011-05-01,13:00:00,13,REGULAR,2451.0,3708.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
4,4,R001,2011-05-01,17:00:00,17,REGULAR,4400.0,2501.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0

### *Exercicio 2.2*

Agora crie uma função que calcule a quantidade de dias chuvosos, para isso retorne a contagem do numero de dias onde a coluna *"rain"* é igual a 1.

Dica: Você também pode achar que a interpretação de números como números inteiros ou float pode não
Â Â Â Â  funcionar inicialmente. Para contornar esta questão, pode ser útil converter
Â Â Â Â  esses números para números inteiros. Isso pode ser feito escrevendo cast (coluna como inteiro).
Â Â Â Â  Então, por exemplo, se querí­amos lançar a coluna maxtempi como um número inteiro, nós devemos
Â Â Â Â  escrever algo como cast (maxtempi as integer) = 76, em oposição a simplesmente
Â Â Â Â  onde maxtempi = 76.

In [6]:
def num_rainy_days(df):
    return len(df[df['rain'] >= 1.0].groupby(['DATEn']).groups)

display(num_rainy_days(turnstile_weather))

10

### *Exercicio 2.3*

Calcule se estava nebuloso ou não (0 ou 1) e a temperatura máxima para fog (isto é, a temperatura máxima 
Â Â Â Â  para dias nebulosos).

In [22]:
def max_temp_aggregate_by_fog(df):
    max_temperature_foggy_days = (df[df['fog'] >= 1.0])['maxtempi'].max()
    return max_temperature_foggy_days
    
max_temp_aggregate_by_fog(turnstile_weather)

81.0

### *Exercicio 2.4

Calcule agora a média de 'meantempi' nos dias que são sábado ou domingo (finais de semana):

In [16]:
import datetime

def avg_weekend_temperature(filename):
    data = pd.read_csv(filename)
    data['weekday'] = data['DATEn'].apply(lambda x: datetime.datetime(int(x.split('-')[0]), int(x.split('-')[1]), int(x.split('-')[2])).weekday()) 
    mean_temp_weekends = data[(data['weekday'] == 5) | (data['weekday'] == 6)]['meantempi'].mean()
    return mean_temp_weekends

display(avg_weekend_temperature('turnstile_data_master_with_weather.csv'))

65.10066685403307

### *Exercicio 2.5

Calcule a média da temperatura mí­nima 'mintempi' nos dias chuvosos onde da temperatura mí­nima foi maior que do 55 graus:

In [17]:
def avg_min_temperature(filename):
    df = pd.read_csv(filename)
    avg_min_temp_rainy = df[(df['rain'] >= 1.0) & (df['mintempi'] > 55.0)]['mintempi'].mean()
    return avg_min_temp_rainy

display(avg_min_temperature('turnstile_data_master_with_weather.csv'))

61.238860398860396

### *Exercicio 2.6

Antes de realizar qualquer análise, pode ser útil olhar para os dados que esperamos analisar. Mais especificamente, vamos examinR as entradas por hora em nossos dados do metrô de Nova York para determinar a distribuição dos dados. Estes dados são armazenados na coluna ['ENTRIESn_hourly'].
Â Â Â Â 
Trace dois histogramas nos mesmos eixos para mostrar as entradas quando esta chovendo vs quando não está chovendo. 
Abaixo está um exemplo sobre como traçar histogramas com pandas e matplotlib:
Â Â Â Â  
```python
Turnstile_weather ['column_to_graph']. Hist ()
```

In [18]:
import numpy as np
import pandas
import matplotlib.pyplot as plt

def entries_histogram(turnstile_weather):
    plt.figure()
    turnstile_weather[turnstile_weather['rain'] >= 1.0]['ENTRIESn_hourly'].hist()
    plt.title('Histogram ENTRIESn_hourly for when it is raining')
    plt.figure()
    turnstile_weather[turnstile_weather['rain'] < 1.0]['ENTRIESn_hourly'].hist()
    plt.title('Histogram ENTRIESn_hourly for when it is not raining')
    plt.figure()
    turnstile_weather[turnstile_weather['rain'] >= 1.0]['ENTRIESn_hourly'].hist()
    turnstile_weather[turnstile_weather['rain'] < 1.0]['ENTRIESn_hourly'].hist()
    plt.title('Histogram ENTRIESn_hourly for both when it is and is not raining')
    return plt

entries_histogram(turnstile_weather)

### *Exercicio 2.7

Os dados que acabou de plotar que tipo de ditribuição? Existe diferença na distribuição entre dias chuvosos e não chuvosos?

** Resposta **:

Ambos representam uma distribuição assimétrica positiva.

Exceto pelos valores, não existe muita diferença nas duas distribuições.

### *Exercicio 2.8

Construa uma função que que retorne:

1. A média das entradas com chuva
2. A média das entradas sem chuva

In [19]:
import numpy as np

import pandas

def means(turnstile_weather):
    with_rain_mean = turnstile_weather[turnstile_weather['rain'] >= 1.0]['ENTRIESn_hourly'].mean()
    without_rain_mean = turnstile_weather[turnstile_weather['rain'] < 1.0]['ENTRIESn_hourly'].mean()
    return with_rain_mean, without_rain_mean

means(turnstile_weather)

(1105.4463767458733, 1090.278780151855)

Responda as perguntas abaixo de acordo com a saida das suas funções:

1. Qual a média das entradas com chuva?
2. Qual a média das entradas sem chuva?

** Resposta **:

1. A média das entradas com chuva é `1105.4463767458733`
2. A média das entradas sem chuva é `1090.278780151855`

## Exercicio 3 - Map Reduce

### *Exercicio 3.1*

A entrada para esse exercí­cio e o mesmo arquivo da seção anterior (Exercicio 2). Você pode baixar o arquivo neste link:

 https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/turnstile_data_master_with_weather.csv

Varmos criar um mapeador agora. Para cada linha de entrada, a saí­da do mapeador deve IMPRIMIR (não retornar) a UNIT como uma chave e o número de ENTRIESn_hourly como o valor. Separe a chave e o valor por uma guia. Por exemplo: 'R002 \ t105105.0'

Exporte seu mapeador em um arquivo chamado mapper_result.txt e envie esse arquivo juntamente com a sua submissão. O código para exportar seu mapeador já está escrito no código abaixo.

In [20]:
import sys
import pandas as pd

def mapper():
    output_mapper = open('mapper_result.txt', 'w')
    df = pd.read_csv('turnstile_data_master_with_weather.csv')
    grouped_df = df.groupby(['UNIT'])
    for key, group in grouped_df:
        for item in group['ENTRIESn_hourly']:
            print(key + '---' + str(item)) 
            
sys.stdin = open('turnstile_data_master_with_weather.csv')
sys.stdout = open('mapper_result.txt', 'w')
mapper()

### *Exercicio 3.2*

Agora crie o redutor. Dado o resultado do mapeador do exercicio anterior, o redutor deve imprimir(Não retornar) uma linha por UNIT, juntamente com o número total de ENTRIESn_hourly.Ao longo de maio (que é a duração dos nossos dados), separados por uma guia. Um exemplo de linha de saí­da do redutor pode ser assim: 'R001 \ t500625.0'

Você pode assumir que a entrada para o redutor está ordenada de tal forma que todas as linhas correspondentes a uma unidade particular são agrupados. No entanto a saida do redutor terá repetição pois existem lojas que aparecem em locais diferentes dos arquivos.

Exporte seu redutor em um arquivo chamado reducer_result.txt e envie esse arquivo juntamente com a sua submissão.

In [21]:
from collections import defaultdict

def reducer():
    reducer_results = defaultdict(lambda: 0.0)
    with open('mapper_result.txt', 'r') as mapper_results:
        result = [line.rstrip('\n') for line in mapper_results]
        for line in result:
            line_values = line.split('---')
            reducer_results[line_values[0]] = float(reducer_results[line_values[0]]) + float(line_values[1])
    display(reducer_results)
    with open('reducer_result.txt', 'w') as reducer_output_file:
        for key, value in reducer_results.items():
            reducer_output_file.write(str(key) + '---' + str(value) + '\n')
    
reducer()

defaultdict(<function __main__.reducer.<locals>.<lambda>>,
            {'R001': 749682.0,
             'R002': 176535.0,
             'R003': 35938.0,
             'R004': 93104.0,
             'R005': 91031.0,
             'R006': 109473.0,
             'R007': 62391.0,
             'R008': 66629.0,
             'R009': 55927.0,
             'R010': 854243.0,
             'R011': 1582914.0,
             'R012': 1564752.0,
             'R013': 478463.0,
             'R014': 776100.0,
             'R015': 522548.0,
             'R016': 182420.0,
             'R017': 801512.0,
             'R018': 1389878.0,
             'R019': 583445.0,
             'R020': 1348414.0,
             'R021': 921754.0,
             'R022': 1796932.0,
             'R023': 1272679.0,
             'R024': 572463.0,
             'R025': 1038087.0,
             'R027': 581031.0,
             'R028': 508907.0,
             'R029': 1293260.0,
             'R030': 559091.0,
             'R031': 879536.0,
             'R032': 791513.0,
             'R033': 1711663.0,
             'R034': 202824.0,
             'R035': 629835.0,
             'R036': 138461.0,
             'R037': 154729.0,
             'R038': 43130.0,
             'R039': 135528.0,
             'R040': 224456.0,
             'R041': 555148.0,
             'R042': 124899.0,
             'R043': 518324.0,
             'R044': 897321.0,
             'R045': 548507.0,
             'R046': 1695150.0,
             'R047': 953822.0,
             'R048': 251029.0,
             'R049': 564624.0,
             'R050': 714410.0,
             'R051': 951879.0,
             'R052': 214647.0,
             'R053': 617480.0,
             'R054': 264247.0,
             'R055': 1607534.0,
             'R056': 297119.0,
             'R057': 895935.0,
             'R058': 117323.0,
             'R059': 209596.0,
             'R060': 146186.0,
             'R061': 111796.0,
             'R062': 717413.0,
             'R063': 200910.0,
             'R064': 148984.0,
             'R065': 152865.0,
             'R066': 57772.0,
             'R067': 155894.0,
             'R068': 91276.0,
             'R069': 172121.0,
             'R070': 321343.0,
             'R079': 496509.0,
             'R080': 718941.0,
             'R081': 658080.0,
             'R082': 271716.0,
             'R083': 562872.0,
             'R084': 1809423.0,
             'R085': 468449.0,
             'R086': 468013.0,
             'R087': 222970.0,
             'R088': 113417.0,
             'R089': 97665.0,
             'R090': 77906.0,
             'R091': 198344.0,
             'R092': 361025.0,
             'R093': 382168.0,
             'R094': 317839.0,
             'R095': 436570.0,
             'R096': 425993.0,
             'R097': 589984.0,
             'R098': 399134.0,
             'R099': 429182.0,
             'R100': 102290.0,
             'R101': 595630.0,
             'R102': 709705.0,
             'R103': 251406.0,
             'R104': 248370.0,
             'R105': 651158.0,
             'R106': 199963.0,
             'R107': 167806.0,
             'R108': 936992.0,
             'R109': 264309.0,
             'R110': 578687.0,
             'R111': 588092.0,
             'R112': 308815.0,
             'R113': 363837.0,
             'R114': 166328.0,
             'R115': 235036.0,
             'R116': 617582.0,
             'R117': 161945.0,
             'R118': 283496.0,
             'R119': 335923.0,
             'R120': 306449.0,
             'R121': 264969.0,
             'R122': 456058.0,
             'R123': 342829.0,
             'R124': 127364.0,
             'R125': 129942.0,
             'R126': 340704.0,
             'R127': 867839.0,
             'R128': 126069.0,
             'R129': 291172.0,
             'R130': 99259.0,
             'R131': 742031.0,
             'R132': 748496.0,
             'R133': 254563.0,
             'R134': 136718.0,
             'R135': 202358.0,
             'R136': 350826.0,
             'R137': 447479.0,
             'R138': 1038214.0,
             'R139': 471720.0,
             'R140': 238367.0,
             'R141': 713726.0,
             'R142': 605826.0,
             'R143': 541252.0,
             'R144': 647799.0,
             'R145': 138525.0,
             'R146': 269851.0,
             'R147': 455525.0,
             'R148': 187230.0,
             'R149': 261683.0,
             'R150': 185200.0,
             'R151': 435504.0,
             'R152': 338917.0,
             'R153': 380814.0,
             'R154': 234393.0,
             'R155': 194635.0,
             'R156': 169161.0,
             'R157': 210464.0,
             'R158': 687653.0,
             'R159': 362166.0,
             'R160': 456773.0,
             'R161': 273002.0,
             'R163': 602651.0,
             'R164': 581953.0,
             'R165': 21880.0,
             'R166': 449300.0,
             'R167': 507144.0,
             'R168': 987022.0,
             'R169': 400352.0,
             'R170': 2887918.0,
             'R171': 250782.0,
             'R172': 346634.0,
             'R173': 283901.0,
             'R174': 276051.0,
             'R175': 1065336.0,
             'R176': 738211.0,
             'R177': 877492.0,
             'R178': 945340.0,
             'R179': 1618261.0,
             'R180': 416193.0,
             'R181': 318667.0,
             'R182': 447187.0,
             'R183': 161975.0,
             'R184': 188669.0,
             'R185': 186211.0,
             'R186': 276840.0,
             'R187': 331976.0,
             'R188': 479064.0,
             'R189': 291270.0,
             'R190': 387585.0,
             'R191': 347311.0,
             'R192': 372696.0,
             'R193': 272757.0,
             'R194': 357633.0,
             'R195': 829413.0,
             'R196': 246135.0,
             'R197': 330304.0,
             'R198': 435906.0,
             'R199': 140546.0,
             'R200': 270069.0,
             'R201': 601705.0,
             'R202': 401841.0,
             'R203': 318602.0,
             'R204': 296471.0,
             'R205': 354726.0,
             'R206': 376077.0,
             'R207': 367438.0,
             'R208': 508751.0,
             'R209': 152316.0,
             'R210': 111335.0,
             'R211': 449502.0,
             'R212': 313397.0,
             'R213': 216150.0,
             'R214': 131731.0,
             'R215': 295735.0,
             'R216': 147793.0,
             'R217': 250350.0,
             'R218': 364769.0,
             'R219': 236987.0,
             'R220': 276620.0,
             'R221': 252372.0,
             'R222': 425840.0,
             'R223': 390151.0,
             'R224': 145157.0,
             'R225': 114780.0,
             'R226': 145241.0,
             'R227': 207861.0,
             'R228': 194737.0,
             'R229': 115486.0,
             'R230': 108918.0,
             'R231': 184393.0,
             'R232': 195406.0,
             'R233': 196791.0,
             'R234': 77316.0,
             'R235': 686994.0,
             'R236': 284095.0,
             'R237': 126432.0,
             'R238': 386507.0,
             'R239': 206632.0,
             'R240': 648601.0,
             'R241': 82205.0,
             'R242': 115671.0,
             'R243': 247334.0,
             'R244': 296513.0,
             'R246': 132794.0,
             'R247': 50847.0,
             'R248': 612959.0,
             'R249': 253042.0,
             'R250': 186682.0,
             'R251': 240291.0,
             'R252': 182785.0,
             'R253': 125453.0,
             'R254': 475460.0,
             'R255': 149465.0,
             'R256': 200231.0,
             'R257': 347322.0,
             'R258': 327140.0,
             'R259': 176919.0,
             'R260': 256085.0,
             'R261': 285466.0,
             'R262': 98286.0,
             'R263': 35386.0,
             'R264': 93167.0,
             'R265': 169601.0,
             'R266': 173626.0,
             'R267': 240859.0,
             'R268': 410243.0,
             'R269': 170317.0,
             'R270': 97788.0,
             'R271': 79180.0,
             'R272': 334290.0,
             'R273': 260307.0,
             'R274': 173178.0,
             'R275': 169035.0,
             'R276': 262817.0,
             'R277': 98276.0,
             'R278': 81490.0,
             'R279': 151090.0,
             'R280': 122148.0,
             'R281': 238530.0,
             'R282': 292482.0,
             'R283': 134935.0,
             'R284': 149064.0,
             'R285': 112669.0,
             'R286': 119652.0,
             'R287': 113192.0,
             'R288': 351233.0,
             'R289': 87940.0,
             'R290': 337717.0,
             'R291': 332569.0,
             'R292': 97682.0,
             'R293': 1288343.0,
             'R294': 177120.0,
             'R295': 93093.0,
             'R296': 105232.0,
             'R297': 159955.0,
             'R298': 181096.0,
             'R299': 87448.0,
             'R300': 484045.0,
             'R301': 192987.0,
             'R302': 365996.0,
             'R303': 226730.0,
             'R304': 201618.0,
             'R306': 59237.0,
             'R307': 77158.0,
             'R308': 151282.0,
             'R309': 145311.0,
             'R310': 295303.0,
             'R311': 82150.0,
             'R312': 69292.0,
             'R313': 34931.0,
             'R314': 121908.0,
             'R315': 105421.0,
             'R316': 53690.0,
             'R317': 134852.0,
             'R318': 108153.0,
             'R319': 386836.0,
             'R320': 149050.0,
             'R321': 203065.0,
             'R322': 315575.0,
             'R323': 232046.0,
             'R324': 292334.0,
             'R325': 72944.0,
             'R326': 69352.0,
             'R327': 178062.0,
             'R328': 171409.0,
             'R329': 46398.0,
             'R330': 178869.0,
             'R331': 68162.0,
             'R332': 139396.0,
             'R333': 159835.0,
             'R334': 185086.0,
             'R335': 78576.0,
             'R336': 18478.0,
             'R337': 28336.0,
             'R338': 4464.0,
             'R339': 95350.0,
             'R340': 88852.0,
             'R341': 96160.0,
             'R342': 132651.0,
             'R343': 142723.0,
             'R344': 83685.0,
             'R345': 94277.0,
             'R346': 224525.0,
             'R347': 138517.0,
             'R348': 38677.0,
             'R349': 115500.0,
             'R350': 74250.0,
             'R352': 70348.0,
             'R353': 124927.0,
             'R354': 43911.0,
             'R355': 67488.0,
             'R356': 196333.0,
             'R357': 34666.0,
             'R358': 50605.0,
             'R359': 451144.0,
             'R360': 31873.0,
             'R361': 231139.0,
             'R362': 134910.0,
             'R363': 87683.0,
             'R364': 187449.0,
             'R365': 87524.0,
             'R366': 114648.0,
             'R367': 138589.0,
             'R368': 131182.0,
             'R369': 92945.0,
             'R370': 95344.0,
             'R371': 131779.0,
             'R372': 132680.0,
             'R373': 111943.0,
             'R374': 161178.0,
             'R375': 115725.0,
             'R376': 95005.0,
             'R377': 222786.0,
             'R378': 260632.0,
             'R379': 123951.0,
             'R380': 159544.0,
             'R381': 153926.0,
             'R382': 167454.0,
             'R383': 109834.0,
             'R384': 69600.0,
             'R385': 206288.0,
             'R386': 182419.0,
             'R387': 203406.0,
             'R388': 195587.0,
             'R389': 70615.0,
             'R390': 277830.0,
             'R391': 172838.0,
             'R392': 165402.0,
             'R393': 109306.0,
             'R394': 188498.0,
             'R395': 136202.0,
             'R396': 108722.0,
             'R397': 70293.0,
             'R398': 155427.0,
             'R399': 105814.0,
             'R400': 83553.0,
             'R401': 72916.0,
             'R402': 62915.0,
             'R403': 96423.0,
             'R404': 135925.0,
             'R405': 133535.0,
             'R406': 188587.0,
             'R407': 79818.0,
             'R408': 251207.0,
             'R409': 113219.0,
             'R411': 59812.0,
             'R412': 58559.0,
             'R413': 91400.0,
             'R414': 59138.0,
             'R415': 7921.0,
             'R416': 41975.0,
             'R417': 15210.0,
             'R418': 6524.0,
             'R419': 24793.0,
             'R420': 117997.0,
             'R421': 61623.0,
             'R422': 39345.0,
             'R423': 93421.0,
             'R424': 71239.0,
             'R425': 60731.0,
             'R426': 46162.0,
             'R427': 49506.0,
             'R428': 84809.0,
             'R429': 184670.0,
             'R430': 78679.0,
             'R431': 114754.0,
             'R432': 82208.0,
             'R433': 65302.0,
             'R434': 74284.0,
             'R435': 86348.0,
             'R436': 90433.0,
             'R437': 133321.0,
             'R438': 135082.0,
             'R439': 132119.0,
             'R440': 69700.0,
             'R441': 78794.0,
             'R442': 81297.0,
             'R443': 171475.0,
             'R444': 86396.0,
             'R445': 194706.0,
             'R446': 167382.0,
             'R447': 96087.0,
             'R448': 24229.0,
             'R449': 118636.0,
             'R450': 92729.0,
             'R451': 181841.0,
             'R452': 1068004.0,
             'R453': 291583.0,
             'R454': 29557.0,
             'R455': 23708.0,
             'R456': 50038.0,
             'R459': 7289.0,
             'R460': 295916.0,
             'R461': 586440.0,
             'R462': 382576.0,
             'R463': 609064.0,
             'R464': 0.0,
             'R468': 93295.0,
             'R469': 93346.0,
             'R535': 97520.0,
             'R536': 174523.0,
             'R540': 1118847.0,
             'R541': 887765.0,
             'R542': 187258.0,
             'R543': 394576.0,
             'R544': 164670.0,
             'R545': 232567.0,
             'R546': 460156.0,
             'R547': 127308.0,
             'R548': 109426.0,
             'R549': 721823.0,
             'R550': 668183.0,
             'R551': 389045.0,
             'R552': 683945.0})